@charset "UTF-8";
* {
  font-family: Montserrat, "Century Gothic", sans-serif; }

body, html {
  margin: 0;
  padding: 0; }

body {
  background-color: #f1f5f8; }

a {
  text-decoration: none; }

.h-100 {
  height: 100%; }

.w-100 {
  width: 100%; }

.p-absolute {
  position: absolute; }

.p-relative {
  position: relative; }

.p-fixed {
  position: fixed; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

.navbar {
  justify-content: center;
  background-color: #fff;
  width: 100%;
  top: 0;
  z-index: 9999; }

.nav-items, .navbar {
  height: 60px;
  align-items: center; }
  @media (max-width: 700px) {
    .nav-items, .navbar {
      height: 80px; } }

.social {
  align-items: center;
  justify-content: flex-end;
  margin-right: 2%; }
  .social > a {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center; }
    .social > a:hover {
      background-color: #f3f3f3; }
  @media (max-width: 700px) {
    .social {
      display: none; } }

.social-logo {
  margin: auto; }
  .social-logo[alt="vk"] {
    width: 50%;
    height: 50%; }
  .social-logo[alt="instagram"] {
    width: 35%;
    height: 35%; }

.nav-items {
  justify-content: space-between;
  width: 1366px; }

.nav-menu-logo {
  width: 50%;
  height: 50%;
  padding: 25%; }

.social-logo {
  flex-grow: 0; }

.nav-menu-a {
  margin: 0;
  width: 60px;
  height: 60px;
  transition: 0.5s ease-out; }
  .nav-menu-a:hover {
    background-color: #f3f3f3; }
  @media (max-width: 700px) {
    .nav-menu-a {
      width: 80px;
      height: 80px; } }

.nav-menu {
  justify-content: space-around;
  align-items: center; }
  .nav-menu > ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none; }
    @media (max-width: 700px) {
      .nav-menu > ul {
        display: none; } }
  .nav-menu > ul > li {
    white-space: nowrap;
    margin: 4.5%; }
    .nav-menu > ul > li > a {
      color: #3f3f3f; }
      .nav-menu > ul > li > a:visited, .nav-menu > ul > li > a :link {
        color: #3f3f3f; }
      .nav-menu > ul > li > a:hover {
        color: #007cff; }

.hidden {
  display: none; }

.menu-childes {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 75px;
  padding-top: 30%;
  background-color: #fff; }
  .menu-childes > a {
    padding: 3%;
    text-align: center;
    font-weight: 700;
    font-size: 2rem; }
    .menu-childes > a:visited, .menu-childes > a :link {
      color: #000000; }
    .menu-childes > a:hover {
      background-color: #f3f3f3; }
  .menu-childes > div {
    margin-top: 10%;
    justify-content: center; }
    .menu-childes > div > a {
      padding: 5%; }
      .menu-childes > div > a:hover {
        background-color: #f3f3f3; }
  @media (min-width: 700px) {
    .menu-childes {
      display: none; } }

.social-logo-small {
  width: 50px;
  height: 50px; }

.nav-title-small {
  font-size: 1.8rem; }
  @media (min-width: 700px) {
    .nav-title-small {
      display: none; } }

.nav-menu-button {
  background-color: #ffffff;
  border: none;
  cursor: pointer; }
  .nav-menu-button > img {
    width: 25px;
    height: 25px; }
    @media (max-width: 700px) {
      .nav-menu-button > img {
        width: 40px;
        height: 40px; } }
  @media (min-width: 700px) {
    .nav-menu-button {
      display: none; } }

main {
  align-items: center;
  margin: 150px 0 0; }

.main-content {
  max-width: 1366px;
  justify-content: center;
  margin-left: 3%;
  margin-right: 3%; }
  .main-content > p {
    margin-top: 0;
    font-weight: 300;
    font-size: 1.8rem; }
    .main-content > p:last-child {
      margin-bottom: 20%; }
    .main-content > p > a {
      color: #007cff; }
      .main-content > p > a:visited, .main-content > p > a :link {
        color: #007cff; }
      .main-content > p > a:hover {
        text-decoration: underline; }

.main-content-img {
  width: fit-content;
  background-color: #eeeeee;
  padding: 2%; }
  .main-content-img > div:nth-child(1) {
    align-items: center; }
    .main-content-img > div:nth-child(1) > img {
      height: 20px;
      width: 20px;
      margin: 10px; }
    .main-content-img > div:nth-child(1) > p {
      margin: 0;
      font-size: .8rem; }
  .main-content-img > div:nth-child(2) {
    flex-wrap: wrap;
    justify-content: center; }
    .main-content-img > div:nth-child(2) > div {
      align-items: center; }
      .main-content-img > div:nth-child(2) > div > p {
        margin: 0 0 10% 0; }
  .main-content-img > p {
    margin: 0 0 2%;
    font-weight: 400;
    font-size: .8rem;
    text-align: center; }
    .main-content-img > p > a {
      color: #007cff; }
      .main-content-img > p > a:visited, .main-content-img > p > a :link {
        color: #007cff; }
      .main-content-img > p > a:hover {
        text-decoration: underline; }

h1 {
  margin-bottom: 35px;
  font-size: 4rem;
  font-weight: 800;
  line-height: 100%;
  margin-top: 0; }

h2 {
  font-weight: 700;
  font-size: 2.5rem; }
  h2::after {
    color: #007cff;
    margin-left: 4%;
    font-weight: 300;
    font-size: 1.8rem; }
  h2:nth-of-type(1)::after {
    content: 'Чтобы реклама стала опрятнее'; }
  h2:nth-of-type(2)::after {
    content: 'Обучаем и даём заказы'; }

.peoples {
  background-color: #fff;
  width: 100%;
  height: fit-content; }
  .peoples > p {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 100%;
    margin-left: 4%;
    margin-right: 4%; }
  .peoples > div {
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4rem; }
    .peoples > div > div {
      margin: .5%; }
      .peoples > div > div > img {
        border-radius: 50%;
        width: 200px;
        height: 200px; }
      .peoples > div > div > p {
        font-weight: 700; }

footer {
  justify-content: center;
  background-color: #007cff;
  width: 100%;
  height: fit-content; }

.footer-content {
  width: 1366px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  @media (max-width: 700px) {
    .footer-content {
      justify-content: center; } }
  .footer-content > div > p {
    margin-left: 3%;
    color: white;
    white-space: nowrap; }
    .footer-content > div > p > a {
      color: #ffffff; }
      .footer-content > div > p > a:visited, .footer-content > div > p > a :link {
        color: #ffffff; }
      .footer-content > div > p > a:hover {
        text-decoration: underline; }
  .footer-content > div {
    margin: 0 7% 0 7%; }
    @media (max-width: 700px) {
      .footer-content > div {
        flex-wrap: wrap;
        justify-content: center; } }
    .footer-content > div > button {
      background-color: #ffffff;
      border: none;
      color: #000000;
      padding: 6px 10px;
      margin: 2%;
      cursor: pointer; }
      .footer-content > div > button:hover {
        background-color: #d9d9d9;
        transition: 0.5s ease-out; }
      .footer-content > div > button::before {
        content: '⚪'; }

@media (max-width: 700px) {
  .footer-content > div > p {
    margin-left: 0; } }
