*
  font-family: Montserrat, "Century Gothic", sans-serif

body, html
   margin : 0
   padding: 0
   
body
  background-color: #f1f5f8

a
  text-decoration: none

.h-100
  height: 100%

.w-100
  width: 100%

.p-absolute
  position: absolute

.p-relative
  position: relative

.p-fixed
  position: fixed

.flex-row
  display: flex
  flex-direction: row

.flex-column
  display: flex
  flex-direction: column

.navbar
  justify-content: center
  background-color: #fff
  width: 100%
  top: 0
  z-index: 9999

.nav-items, .navbar
  height: 60px
  align-items: center
  @media (max-width: 700px)
    height: 80px

.social
  align-items: center
  justify-content: flex-end
  margin-right: 2%
  & > a
    width: 60px
    height: 60px
    display: flex
    align-items: center
    text-align: center
    &:hover
      background-color: #f3f3f3
  @media (max-width: 700px)
    display: none

.social-logo
  margin: auto
  &[alt = "vk"]
    width: 50%
    height: 50%
  &[alt = "instagram"]
    width: 35%
    height: 35%

.nav-items
  justify-content: space-between
  width: 1366px

.nav-menu-logo
  width: 50%
  height: 50%
  padding: 25%

.social-logo
  flex-grow: 0

.nav-menu-a
  margin: 0
  width: 60px
  height: 60px
  transition: 0.5s ease-out
  &:hover
    background-color: #f3f3f3
  @media (max-width: 700px)
    width: 80px
    height: 80px

.nav-menu
  justify-content: space-around
  align-items: center
  & > ul
    display: flex
    padding: 0
    margin: 0
    list-style-type: none
    @media (max-width: 700px)
      display: none
  & > ul > li
    white-space: nowrap
    margin: 4.5%
    & > a
      color: #3f3f3f
      &:visited,:link
        color: #3f3f3f
      &:hover
        color: #007cff

.hidden
  display: none

.menu-childes
  position: absolute
  width: 100%
  height: 100vh
  top: 75px
  padding-top: 30%
  background-color: #fff
  & > a
    padding: 3%
    text-align: center
    font-weight: 700
    font-size: 2rem
    &:visited,:link
      color: #000000
    &:hover
      background-color: #f3f3f3
  & > div
    margin-top: 10%
    justify-content: center
    & > a
      padding: 5%
      &:hover
        background-color: #f3f3f3
  @media (min-width: 700px)
    display: none

.social-logo-small
  width: 50px
  height: 50px

.nav-title-small
  font-size: 1.8rem
  @media (min-width: 700px)
    display: none

.nav-menu-button
  background-color: #ffffff
  border: none
  cursor: pointer
  & > img
    width: 25px
    height: 25px
    @media (max-width: 700px)
      width: 40px
      height: 40px
  @media (min-width: 700px)
    display: none

main
  align-items: center
  margin: 150px 0 0

.main-content
  max-width: 1366px
  justify-content: center
  margin-left: 3%
  margin-right: 3%
  & > p
    margin-top: 0
    font-weight: 300
    font-size: 1.8rem
    &:last-child
      margin-bottom: 20%
    & > a
      color: #007cff
      &:visited,:link
        color: #007cff
      &:hover
        text-decoration: underline

.main-content-img
  width: fit-content
  background-color: #eeeeee
  padding: 2%
  & > div:nth-child(1)
    align-items: center
    & > img
      height: 20px
      width: 20px
      margin: 10px
    & > p
      margin: 0
      font-size: .8rem
  & > div:nth-child(2)
    flex-wrap: wrap
    justify-content: center
    &> div
      align-items: center
      & > p
        margin: 0 0 10% 0
  & > p
    margin: 0 0 2%
    font-weight: 400
    font-size: .8rem
    text-align: center
    & > a
      color: #007cff
      &:visited,:link
        color: #007cff
      &:hover
        text-decoration: underline


h1
  margin-bottom: 35px
  font-size: 4rem
  font-weight: 800
  line-height: 100%
  margin-top: 0

h2
  font-weight: 700
  font-size: 2.5rem
  &::after
    color: #007cff
    margin-left: 4%
    font-weight: 300
    font-size: 1.8rem
  &:nth-of-type(1)::after
    content: 'Чтобы реклама стала опрятнее'
  &:nth-of-type(2)::after
    content: 'Обучаем и даём заказы'

.peoples
  background-color: #fff
  width: 100%
  height: fit-content
  & > p
    text-align: center
    font-weight: 700
    font-size: 2.5rem
    line-height: 100%
    margin-left: 4%
    margin-right: 4%
  & > div
    text-align: center
    justify-content: center
    flex-wrap: wrap
    margin-bottom: 4rem
    &> div
      margin: .5%
      & > img
        border-radius: 50%
        width: 200px
        height: 200px
      & > p
        font-weight: 700


footer
  justify-content: center
  background-color: #007cff
  width: 100%
  height: fit-content

.footer-content
  width: 1366px
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  @media (max-width: 700px)
    justify-content: center
  & > div > p
    margin-left: 3%
    color: white
    white-space: nowrap
    & > a
      color: #ffffff
      &:visited,:link
        color: #ffffff
      &:hover
        text-decoration: underline
  & > div
    margin: 0 7% 0 7%
    @media (max-width: 700px)
      flex-wrap: wrap
      justify-content: center
    &> button
      background-color: #ffffff
      border: none
      color: #000000
      padding: 6px 10px
      margin: 2%
      cursor: pointer
      &:hover
        background-color: #d9d9d9
        transition: 0.5s ease-out
      &::before
        content: '⚪'

@media (max-width: 700px)
    .footer-content > div > p
      margin-left: 0